
.edit_here
{
	/* TODO:edit here */

}

.side-user
{
    background-image: url('../Assets/image/user-solid2.svg') !important;
    opacity: 0.6 !important;
}

.side-comment
{
    background-image: url('../Assets/image/comment-solid2.svg') !important;
    opacity: 0.6 !important;
}

.side-ellipsis
{
    background-image: url('../Assets/image/ellipsis-solid2.svg') !important;
    opacity: 0.6 !important;
}

.main-header-minus
{
    background-image: url('../Assets/image/minus-solid2.svg') !important;
}

.main-header-square
{
    background-image: url('../Assets/image/square-regular2.svg') !important;
}

.main-header-cancle
{
    background-image: url('../Assets/image/xmark-solid2.svg') !important;
}

.friend-header-icon
{
}

.friend-header-icon:hover
{
    background-color: #FCFCFC !important;
}

.friend-list
{
}

.friend-list:hover
{
    background-color: #F5F5F5 !important;
}

.friend-list.active
{
    background-color: #EDEDED !important;
}


.friend-list:active {
  background-color: #EDEDED !important;
}

.chatting-header-icon
{
}

.chatting-header-icon:hover {
    background-color: #B4C8D9 !important;
}

