
.edit_here
{
	/* TODO:edit here */

}

.chatting-label {
}

.chatting-label::after {
    content: "" !important;
    position: absolute !important;
    right: -6px !important; /* 오른쪽 말풍선 기준 */
    top: 10px !important;
    width: 0 !important;
    height: 0 !important;
    border-top: 6px solid transparent !important;
    border-bottom: 6px solid transparent !important;
    border-left: 6px solid rgb(255, 235, 51) !important; /* 말풍선 배경색과 동일 */
}

.chatting-label-user
{
}

.chatting-label-user::after {
    content: "" !important;
    position: absolute !important;
    left: -6px !important;
    top: 4px !important; /* ↓ 이 값을 줄이면 위로 붙습니다 */
    width: 0 !important;
    height: 0 !important;
    border-top: 6px solid transparent !important;
    border-bottom: 6px solid transparent !important;
    border-right: 6px solid rgb(255, 255, 255) !important;
}

